/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

:root {
  --font-family: 'League Spartan', sans-serif;
  --clr-main: #262b3b;
  --clr-dark: #3B4665;
  --clr-light: #F1F1E6;
  --clr-accent: #298FFF;
}

body {
  font-family: var(--font-family);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: 1fr 10fr;
}

#header {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  box-shadow: 5px 5px 18px #737888;
  grid-column: 1 / 6;
  /* grid-row: 1; */
  display: flex;
  padding: 1rem;
}

#main {
  grid-column: span 4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light);
}

#sidebar {
  background-color: var(--clr-main);
  color: var(--clr-light);
  grid-column: 5;
  grid-row: span 3;
  padding: 2rem;
}

footer {
  grid-column: 1 / 5;
  background-color: var(--clr-main);
  color: var(--clr-light);
}

.sign-in {
  margin-left: auto;
}

.add-book {
  /* width: 80px;
  line-height: 80px; */
  /* box-sizing: border-box; */
  font-size: 3rem;
  line-height: 1.2;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  color: var(--clr-light);
  background-color: var(--clr-dark);
}